body{
  background-color: #505050;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:20px;
  width: 1140px;
  height: 620px;
  &__item{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}